@using Blism.Language.Bash.Core
@inherits BunitTestContext

@code {
	[Test]
	public void TestHelloWorld() {
		const string source = "echo 'Hello, World!'";

		var tokenizer = new BashTokenizer();
		var highlighter = new BashDarkHighlighter();

		var component = Render(@<BashSyntaxHighlighter Tokenizer="@tokenizer" Highlighter="@highlighter" Code="@source"/>);

		component.MarkupMatches(@<pre style="color: #d4d4d4; background-color: #1e1e1e;" diff:whitespace="RemoveWhitespaceNodes">
  <span style="color: #94dbfd;">echo</span>
  <span style="">
  </span>
  <span style="color: #cc884e;">'Hello, World!'</span>
</pre>);
	}

	[Test]
	public void TestExampleScript() {
		const string source = @"#!/bin/bash

# This is a comment
echo 'Hello, World!'

if [[ $1 == '--help' ]]; then
  echo 'Usage: script.sh [OPTIONS]'
  echo 'Options:'
  echo '  -h, --help  Show this help message and exit'
  exit 0
fi
";

		var tokenizer = new BashTokenizer();
		var highlighter = new BashDarkHighlighter();

		var component = Render(@<BashSyntaxHighlighter Tokenizer="@tokenizer" Highlighter="@highlighter" Code="@source"/>);

		component.MarkupMatches(@<pre style="color: #d4d4d4; background-color: #1e1e1e;" diff:whitespace="RemoveWhitespaceNodes">
  <span style="color: #699856; font-style: italic; font-weight: bold;">#!/bin/bash
  </span>
  <span style="">
  </span>
  <span style="color: #699856; font-style: italic;"># This is a comment
  </span>
  <span style="">
  </span>
  <span style="color: #94dbfd;">echo</span>
  <span style="">
  </span>
  <span style="color: #cc884e;">'Hello, World!'</span>
  <span style="">
  </span>
  <span style="color: #94dbfd;">if</span>
  <span style="">
  </span>
  <span style="">[</span>
  <span style="">[</span>
  <span style="">
  </span>
  <span style="">$</span>
  <span style="color: #b3cca4;">1</span>
  <span style="">
  </span>
  <span style="">=</span>
  <span style="">=</span>
  <span style="">
  </span>
  <span style="color: #cc884e;">'--help'</span>
  <span style="">
  </span>
  <span style="">]</span>
  <span style="">]</span>
  <span style="">;</span>
  <span style="">
  </span>
  <span style="color: #94dbfd;">then</span>
  <span style="">
  </span>
  <span style="color: #94dbfd;">echo</span>
  <span style="">
  </span>
  <span style="color: #cc884e;">'Usage: script.sh [OPTIONS]'</span>
  <span style="">
  </span>
  <span style="color: #94dbfd;">echo</span>
  <span style="">
  </span>
  <span style="color: #cc884e;">'Options:'</span>
  <span style="">
  </span>
  <span style="color: #94dbfd;">echo</span>
  <span style="">
  </span>
  <span style="color: #cc884e;">'  -h, --help  Show this help message and exit'</span>
  <span style="">
  </span>
  <span style="color: #94dbfd;">exit</span>
  <span style="">
  </span>
  <span style="color: #b3cca4;">0</span>
  <span style="">
  </span>
  <span style="color: #94dbfd;">fi</span>
  <span style="">
  </span>
</pre>);
	}
}
